[user]
    name = tsny
    email = Taylor.W.Snyder@centene.com
    username = CN168865

[core]
	editor = vim
	autocrlf = input

[web]
    browser = google-chrome
    editor = 'vim'
[push]
	default = current
